<div class="dc">
    <h2>DC Comics</h2>
    <br><br>
    <p>DC Comics es una editorial de cómics estadounidense. Forma parte de DC
        Entertainment,1​ una de las empresas que conforman Warner Bros. Entertainment,
        la cual a su vez es propiedad de Warner Bros. Discovery. Fue fundada en 1934
        bajo el nombre National Allied Publications,
        para luego tomar el nombre de DC Comics en 1937.
    </p>
    <p>
        Entre algunos de sus personajes más emblemáticos se encuentran Superman,
        Batman, Mujer Maravilla, Flash, Linterna Verde, Aquaman, Hombre Halcón,
        Chica Halcón, Flecha Verde, Shazam, Detective Marciano, Starfire, Nightwing,
        Raven, Cyborg, Canario Negro, Doctor Destino, Robin, Chico Bestia, Zatanna,
        Hombre Plástico, Catwoman, Supergirl, El Joker y Harley Quinn.
        Su sede principal estuvo situada históricamente en
        la ciudad de Nueva York, pero desde 2015 mudaron sus oficinas a la ciudad de
        Burbank2
        ​</p>
    <br>
    <h2>Un poco de Historia...</h2>
    <br>
    <p>
        Origines
        DC Comics surgió de la unión de tres compañías: National Allied Publications,
        Detective Comics, y All-American Publications. Las dos primeras se fusionaron a
        finales de los años 1930 para convertirse en National Comics
        (más tarde conocida como National Periodical Publications) mientras que la tercera
        compartía parte de las oficinas hasta que fue comprada por la primera en 1945.
    </p>
    <p> En esta época "DC" era
        simplemente un logotipo informal utilizado regularmente en las cubiertas de sus publicaciones.
    </p>
    <h2>Y llendo mas al presente ...</h2>
    <br>
    <p>Poco después, la popularidad de los superhéroes comenzó a declinar
        y la compañía decidió aumentar la producción creando historias del Salvaje Oeste,
        ciencia ficción, humor y romance.
    </p>

    <p> DC Comics está vinculado a Warner Bros Entertainment y su mayor rival es Marvel Comics,
        que pertenece a Walt Disney y que también ha creado personajes de gran
        fama como Spiderman, Iron Man, Captain America, Thor, Hulk, Wolverine, entre otros.
    </p>

    <p>A partir de 2002, los cómics de Universo DC comenzaron a ser publicados en Brasil por la
        empresa Panini Comics, en sociedad con Mythos Editora. Antes de eso, la primera
        aparición de uno de los personajes ocurrió en 1938 en A Gazetinha, que trajo
        a Superman y más tarde a Batman, en O Lobinho.
    </p>
    <p> responsable de traer a los superhéroes fue Adolfo Aizen, un editor y periodista ruso,
        naturalizado brasileño, considerado el “padre del cómic en Brasil”.
    </p>
        <br>
        <h3>Portada:</h3>

        <img [src]="imagDc" width="1000px">
</div>