<div class="fondo_compra">
    <div class="row">
        <div class="col-6">
            <table class="table">
                <thead>
                    <th>Imagen</th>
                    <th>Titulo</th>
                    <th>Editorial</th>
                    <th>Cantidad</th>
                    <th>Precio*Unidad</th>
                </thead>
                <tbody>
                    <tr *ngFor="let compra of comics_compra" class="tr">
                        <td><img [src]="compra.tapa" [alt]="compra.Titulo" width="150px"></td>
                        <td>{{compra.Titulo}}</td>
                        <td>{{compra.Editorial}}</td>
                        <td *ngIf="compra.Cantidad ==0" class="alert alert-danger">
                            SIN STOCK</td>
                        <td *ngIf="compra.Cantidad !=0">
                            {{compra.Cantidad}}</td>
                        <td>$ {{compra.Precio_Unidad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-3">
            <table class="table table-bordered table-dark">
                <thead>
                    <th class="thTabla">Titulo </th>
                    <th class="thTabla">Precio </th>
                    <th class="thTabla">elige tus pedidos</th>
                    <th class="thTabla">Comprar!</th>

                </thead>
                <tbody>
                    <tr *ngFor="let compra of comics_compra" class="tr">
                        <td>{{compra.Titulo | uppercase}}</td>
                        <td>${{compra.Precio_Unidad}}</td>
                        <td>
                            <button class="btn btn-primary" (click)="reducirPedidos(compra)"> menos-</button>
                            <input class="input_pedidos" type="number" [(ngModel)]="compra.Pedidos"
                                (keyup)="cambiarValor($event,compra)">
                            <button class="btn btn-danger" (click)="aumentarPedidos(compra)"> mas+</button>
                        </td>
                        <td>
                            <button class="btn btn-primary" (click)="addComic(compra)"> Comprar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>