<div class="fondo_compra">
    <h1>Sitio de compras:</h1>
    <br>
    <div class="row">
        <h3>Los comics a la venta :</h3>
        <br>
        <div class="col order-1">
            <table class="table">
                <thead>
                    <th>Imagen</th>
                    <th>Titulo</th>
                    <th>Editorial</th>
                    <th>Cantidad</th>
                    <th>Precio*Unidad</th>
                </thead>
                <tbody>
                    <tr *ngFor="let compra of comics_compra" class="tr">
                        <td><img [src]="compra.tapa" [alt]="compra.Titulo" width="150px"></td>
                        <td>{{compra.Titulo}}</td>
                        <td>{{compra.Editorial}}</td>
                        <td *ngIf="compra.Cantidad ==0" class="alert alert-danger">
                            SIN STOCK</td>
                        <td *ngIf="compra.Cantidad !=0">
                            {{compra.Cantidad}}</td>
                        <td>$ {{compra.Precio_Unidad}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col order-2">
            <h2></h2>
            <table class="table table-bordered table-dark">
                <thead>
                    <th class="thTabla">Titulo </th>
                    <th class="thTabla">Precio </th>
                    <th class="thTabla">elige tus pedidos</th>
                    <th class="thTabla">Comprar!</th>

                </thead>
                <tbody>
                    <tr *ngFor="let compra of comics_compra" class="tr">
                        <td>{{compra.Titulo | uppercase}}</td>
                        <td>${{compra.Precio_Unidad}}</td>
                        <td>
                            <button class="btn btn-primary" (click)="reducirPedidos(compra)"> menos-</button>
                            <input class="input_pedidos" type="number" [(ngModel)]="compra.Pedidos"
                                (keyup)="cambiarValor($event,compra)">
                            <button class="btn btn-danger" (click)="aumentarPedidos(compra)"> mas+</button>
                        </td>
                        <td>
                            <button class="btn btn-outline-success" (click)="addComic(compra)"> Comprar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col order-5">
            <div *ngIf="factura_titulo!='' && factura_pedidos>0" class="factura">
                <h2>Factura:</h2>
                <h3>Titulo = {{factura_titulo}}</h3>
                <h3>Precio Total = ${{factura_precio}}</h3>
                <h3>Pedidos = {{factura_pedidos}}</h3>
                <h3>De la editorial = {{factura_editorial}}</h3>
                <br>
                <button type="button" (click)="visto()"> Entendido </button>
            </div>
        </div>
    </div>
   
</div>