<h2>Marvel Comics</h2>
<div class="fondo_marvel">
    <br><br>
    <p>Marvel Comics es una editorial de cómics conocida por crear notables superhéroes
        como Spider-Man, Iron Man, Capitán América, Hulk, Thor, los Vengadores, los Guardianes
        de la Galaxia, los X-Men, los Cuatro Fantásticos y Deadpool. Los villanos más conocidos
        de Marvel son el Duende Verde, Cráneo Rojo, Loki, Thanos, Ultrón, Doctor Doom y Magneto.
        Marvel Comics y DC Comics han colaborado en varios proyectos
        de crossover juntos y también cofundaron el intencionadamente efímero sello Amalgam Comics.
    </p>
    <br>
    <h3>Un poco de historia: </h3>
    <p>Marvel Comics comenzó su andadura como "Timely Publications" en 1939, con cómics
        protagonizados por el Capitán América, Namor el Submarino y una primera versión
        de Antorcha Humana.
    <p> El legendario escritor de cómics Stan Lee fue contratado como
        asistente de oficina en 1939. Al cabo de dos años, Lee, de 19 años, fue ascendido
        a editor de la línea Marvel Comics, cargo que mantendría hasta 1972.</p>

    <p> Todo cambió en 1961, cuando Stan Lee y el artista Jack Kirby inauguraron la
        "Era Marvel de los Cómics" al crear a Los Cuatro Fantásticos, que aportó un nuevo

        estilo de cómic de superhéroes que se centraba en el drama interno de los personajes
        además de sus aventuras heroicas. El estilo fue un gran éxito, y el equipo Lee/Kirby pasó
        a crear a el Increíble Hulk, Iron Man, el Poderoso Thor, los X-Men, los Vengadores y
        los Inhumanos.
    </p> 
    <p>El prolífico Lee trabajó con el artista Steve Ditko para crear la historia
    de mayor éxito de Marvel, Spider-Man. La revolución de Stan Lee en Marvel se extendió más
    allá de los personajes y los argumentos, hasta la forma en que los cómics involucraron
    a los lectores y construyeron un sentido de comunidad entre los fans y los creadores.
    </p>
    <br>
    <img [src]="link_img"  width="1000px">
</div>